# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / editor
.DS_Store
.vscode/
.idea/

# Outputs / large data
results/
refs/
examples/*.fastq*
examples/hg38/
*.zip

# Models / training data (optional: keep or ignore depending on your policy)
# models/
# training/

# Logs
*.log

# Windows metadata
*:Zone.Identifier
*.rartemp
*.bak*
